.logo {
    grid-area: logo;
    display: block;
    padding-top: 6rem;
    padding-bottom: 2rem;
    width: 25rem;
    height: 25rem;
    margin: auto;
}

.header {
    grid-area: text;
    text-decoration: underline;
    padding-bottom: 2rem;
    color: #B3A369;
}

.more-text {
    grid-area: text2;
    color: #B3A369;
}

.grid-container {
    background-image: url("../Images/UNCCCrown.png");
    background-repeat: space;
    background-position: center center;
    display: grid;
    grid-template-areas:
        'logo logo logo'
        'blank text2 empty'
        'zero zero zero';
}