@import "../Themes.scss";

.logo {
    grid-area: logo;
    display: block;
    max-width: 40rem;
    max-height: 40rem;
    height: inherit;
    margin: auto;
    opacity: 0.8;
}

.more-text {
    grid-area: text;
    color: $school-gold;
}

.grid-container {
    background-image: url("../Images/UNCCCrown.png");
    background-repeat: no-repeat;
    background-position: center center;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(100px, auto);
    display: grid;
    grid-template-areas:
        'social logo interest'
        'text text text';
}

.electrical {
    height: 100vh;
    background-image: url("../Images/Electrical.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    padding-top: 6rem;
    padding-bottom: 1rem;
    background-size: cover;
}

.mechanical {
    background-image: url("../Images/Mechanical.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    height: 100vh;
    background-size: cover;
    display: flex;
}

.computer {
    background-image: url("../Images/Code.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    height: 100vh;
    background-size: cover;
}