.more-text {
    grid-area: text;
    color: #B3A369;
}

.grid-box {
    background-repeat: no-repeat;
    background-position: center center;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(100px, auto);
    display: grid;
    grid-template-areas:
    '. . . .'
    'walmart solid adv child'
    '. text text .'
    '. . . .';
}