@import "../Themes.scss";

.card-group {
    margin-top: 5rem;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    display: inline-flex;
    background-color: $school-gold;
}

.officer-container {
    width: max-content;
    margin: 0 auto;
}

.who-we-are-container {
    @extend .officer-container;
    display: block;
    width: auto;
}

.what-we-do-container {
    @extend .officer-container
}