.NavBarSelection.MuiTab-textColorInherit {
    font-size: 1.5rem;
    font-family: Inconsolata;
    font-weight: bolder;
}

.NavBarSelection.Mui-selected {
    color: #B3A369;
}

.NavBar {
    background-color: #212b31;
    height: 75px;
}