//Main Grid CSS 
.outReach-container {
    background-image: url("../Images/UNCCCrown.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    // grid-template-columns: repeat(3, 1fr);
    // grid-auto-rows: minmax(100px, auto);
    // display: grid;
    margin: auto;
    max-width: 85rem;
    // grid-gap: 10px;
    // grid-template-areas:
    //     'banner banner banner'
    //     'bottomTxt bottomTxt bottomTxt'
    //     '.ard1.'
    //     '.bobsBash.'
    //     '.discoveryplace1.'
    //     '.discoveryplace2.'
    //     '.elementary1.' 
    //     '.elementary2.'
    //     '. . .';
        
        
        
        
}

//Main Grid Setup (Mobile Version)
.outReach-container-mobile {
    background-image: url("../Images/UNCCCrown.png");
    background-repeat: no-repeat;
    background-position: center center;
    // grid-template-columns: repeat(3, 1fr);
    // grid-auto-rows: minmax(100px, auto);
    // row-gap: 2rem; 
    // display: grid;
    // grid-template-areas:
    //     'banner banner banner'
    //     'bottomTxt bottomTxt bottomTxt'
    //     '.arduino1.'
    //     '.bobsBash.'
    //     '.discoveryplace1.'
    //     '.discoveryplace2.'
    //     '.elementary1.' 
    //     '.elementary2.'
    //     '. . .';
}

//Banner Image Styling
.banner {
    grid-area: banner;
    display: block;
    padding-top: 2rem;
    padding-bottom: 2rem;
    width: 80%;
    height: 30rem;
    opacity: .95;
    margin: 80px auto auto auto;
    border-radius: 20rem;
    background-color: #B3A369;
}

//leftCard Styling
.leftCard {
    margin: auto 10px auto auto;
}

//rightCard Styling
.rightCard {
    margin: auto auto auto 10px;
}

.more-text {
    grid-area: text;
    color: #B3A369;
}

.ImgBox {
    background-color: inherit;
}
.textClass {
    font-size: 10px;
}

// Arduino1 image styling
.arduino1 {
    grid-area: arduino1;
    display: block;
    padding-top: 2rem;
    padding-bottom: 2rem;
    width: 100%;
    height: 30rem;
    opacity: .95;
    margin: auto auto auto auto;
    background-color: rgb(37, 107, 43);
}


// Bobs bash Image Styling
.bobsBash {
    grid-area: bobsBash;
    display: block;
    padding-top: 2rem;
    padding-bottom: 2rem;
    width: 100%;
    height: 30rem;
    opacity: .95;
    margin: auto auto auto auto;
    border-radius: 20rem;
    background-color: rgb(37, 107, 43);

}

// Discovery Place 1 Image styling
.discoveryplace1{
    grid-area: discoveryplace1;
    display: block;
    padding-top: 2rem;
    padding-bottom: 2rem;
    width: 100%;
    height: 30rem;
    opacity: .95;
    margin: auto auto auto auto;
    border-radius: 20rem;
    background-color: rgb(37, 107, 43);
}

// Discovery Place 2 Image styling
.discoveryplace2{
    grid-area: discoveryplace2;
    display: block;
    padding-top: 2rem;
    padding-bottom: 2rem;
    width: 100%;
    height: 30rem;
    opacity: .95;
    margin: auto auto auto auto;
    border-radius: 20rem;
    background-color: rgb(37, 107, 43);
}

// Elementary 1 Image styling
.elementary1{
    grid-area: elementary1;
    display: block;
    padding-top: 2rem;
    padding-bottom: 2rem;
    width: 100%;
    height: 30rem;
    opacity: .95;
    margin: auto auto auto auto;
    border-radius: 20rem;
    background-color: rgb(37, 107, 43);
}


// Elementary 2 Image styling
.elementary2{
    grid-area: elementary2;
    display: block;
    padding-top: 2rem;
    padding-bottom: 2rem;
    width: 100%;
    height: 30rem;
    opacity: .95;
    margin: auto auto auto auto;
    border-radius: 20rem;
    background-color: rgb(37, 107, 43);
}



